simple_graph_optimization/build/
simple_graph_optimization/install/
simple_graph_optimization/log/

g2o_example/g2o_data_fitting/build/

gtsam_example/imu_factors/build/
gtsam_example/localization/build/

slam_book_example/3d_rigid_body_motion/coordinate_transform/build/
slam_book_example/3d_rigid_body_motion/use_eigen/build/
slam_book_example/3d_rigid_body_motion/use_geometry/build/

visual_slam_review/least_square/build/
visual_slam_review/keypoint_descriptor/build/
visual_slam_review/fundamental_essential_matrix/build/